<!DOCTYPE html>
<html>
<head>
<title>Online Fraud Detection</title>
<style>
body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color:white;
    text-align:center;
}
.hero{padding-top:120px;}
h1{font-size:50px;}
p{font-size:20px;width:60%;margin:auto;}
button{
    margin-top:40px;
    padding:18px 40px;
    font-size:20px;
    border:none;
    border-radius:30px;
    background:#00c3ff;
    cursor:pointer;
}
button:hover{background:#00f2fe;transform:scale(1.1);}
</style>
</head>

<body>
<div class="hero">
<h1>Online Payments Fraud Detection</h1>
<p>
This system uses Machine Learning to detect fraud in online transactions and protect users from financial loss.
</p>

<a href="/predict_page"><button>Start Fraud Detection</button></a>
</div>
</body>
</html>
